@import '../../../../sass/sass.scss';

.cenniki {
  @include fullWysokosc;
}

.dx-field-value-static,
.dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button) {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
