.typography {
  &__p {
    font-size: 15px;
  }

  &__h1 {
    font-size: 25px;
  }

  &__h2 {
    font-size: 22px;
  }

  &__h3 {
    font-size: 19px;
  }

  &__h4 {
    font-size: 17px;
  }

  &__span {
    font-size: 14px;
  }
}
