.users {
    .xdt-header-container {
        .btn-add-user {
            color: '#606060';
            font-size: '34px';
            font-weight: 'bold';
        }
    }
    .hlidmt {
        background-color: #edeeef;
    }
}
