@import '../../../dx-styles.scss';
@import '../../../themes/generated/variables.additional.scss';

.side-navigation-menu {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  width: 250px !important;
  border-right: 1px solid rgba(255, 255, 255, 0.100);

  .border-right-dark {
    border-right: 1px solid #000;
  }

  .bg-grey {
    background-color: rgb(250, 250, 250);
  }

  //override dev extreme styles
  .dx-searchbox.dx-editor-underlined .dx-placeholder:before,
  .dx-searchbox.dx-editor-underlined .dx-texteditor-input {
    // color: rgba(255, 255, 255, 0.938);
    padding: 7px 0 6px 60px;
  }

  .dx-searchbox.dx-editor-underlined .dx-icon-search {
    left: 0;
    width: 60px;
  }

  .dx-searchbox .dx-icon-search:before {
    // color: rgba(255, 255, 255, 0.938);
  }

  .dx-texteditor.dx-editor-underlined .dx-texteditor-buttons-container {
    margin-right: 10px;
  }

  .dx-show-clear-button .dx-icon-clear:before {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 15px;
  }

  .dx-treeview-search {
    margin-bottom: 15px;

    .dx-texteditor-container {
      .dx-texteditor-input-container {
        margin: 10px 0;
      }
    }
  }

  .dx-treeview .dx-empty-message {
    text-align: center;
  }

  .menu-container {
    min-height: 100%;
    display: flex;
    flex: 1;

    .dx-treeview {
      // ## Long text positioning
      white-space: nowrap;
      // ##

      // ## Icon width customization
      .dx-treeview-item {
        padding-left: 0;
        padding-right: 0;

        .dx-icon {
          width: $side-panel-min-width !important;
          margin: 0 !important;
        }
      }
      // ##

      // ## Arrow customization
      .dx-treeview-node {
        // padding: 0 0 0 15px !important;
      }

      .dx-treeview-toggle-item-visibility {
        right: 10px;
        left: auto;
      }

      .dx-rtl .dx-treeview-toggle-item-visibility {
        left: 10px;
        right: auto;
      }
      // ##

      // ## Item levels customization
      .dx-treeview-node {
        &[aria-level='1'] {
          font-weight: bold;
          border-bottom: 1px solid $base-border-color;
        }

        &[aria-level='2'] .dx-treeview-item-content {
          font-weight: normal;
          padding: 0 $side-panel-min-width;
        }
      }
      // ##
    }

    // ## Selected & Focuced items customization
    .dx-treeview {
      .dx-treeview-node-container {
        .dx-treeview-node {
          &.dx-state-selected:not(.dx-state-focused) > .dx-treeview-item {
            background: transparent;
          }

          &.dx-state-selected > .dx-treeview-item * {
            color: $base-accent;
          }

          &:not(.dx-state-focused) > .dx-treeview-item.dx-state-hover {
            background-color: lighten($base-bg, 4);
          }
        }
      }
    }

    .dx-theme-generic .dx-treeview {
      .dx-treeview-node-container
        .dx-treeview-node.dx-state-selected.dx-state-focused
        > .dx-treeview-item
        * {
        color: inherit;
      }
    }
    // ##
  }
}

.side-navigation-menu .menu-container .dx-treeview .dx-treeview-item {
  margin-left: 0px;
}

.dx-treeview-node {
  padding: 0 !important;
}

.dx-drawer-overlap.pre-init-blink-fix {
  @import '../../../utils/patches.scss';
  @include menu-pre-init-patch;
}
